.d-flex {
  display: flex;
}
.f-left {
  width: calc(50% - 15px);
  float: left;
}
.no-style {
  list-style: none;
  text-decoration: none;
}
// PADDING & MARGIN
@for $i from 1 through 16 {
  .pt-#{$i} {
    padding-top: 0.25em * $i;
  }
}

@for $i from 1 through 16 {
  .pb-#{$i} {
    padding-bottom: 0.25em * $i;
  }
}

.pr-40p {
  padding-right: 40px;
}
.mt-10p {
  margin-top: 10px;
}
//BACKGROUND AND COLOR
.blue {
  color: $primary-blue;
}
.green {
  color: #6CDAC1;
}
.orange {
  color: #FF796D;
}
.bg-primary {
  background-color: $primary-blue;
}
.bg-black {
  background-color: #000;
}
